html body {
    background-color: Gainsboro;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, Gainsboro, Aliceblue);
    /* Standard syntax (must be last) */
}


/* h4 {
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-top: 10px;
} */

.currentrate {
    color: red;
    font-size: large;
}

div {
    border: 1px green;
    width: 50%;
    height: 50%;
    overflow: scroll
}

#NW {
    background: Gainsboro
}

#statuses {
    background: greenyellow
}

#NE {
    background: Aliceblue
}

#SW {
    background: Aliceblue
}

#SE {
    background: Gainsboro
}