html body {
    background-color: Gainsboro;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, Gainsboro, Aliceblue);
    /* Standard syntax (must be last) */
}

* {
    box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.currentrate {
    color: red;
    font-size: large;
}

div {
    display: flex;
    width: 50%;
    padding: 5px;
    border: 5px solid black;
    border: 5;
    margin: 7px;
}

#NW {
    background: Gainsboro
}

#statuses {
    background: greenyellow
}

#NE {
    background: Aliceblue
}

#SW {
    background: Aliceblue
}

#SE {
    background: Gainsboro
}